import { generateThemeArtifacts } from '@ohJohny/theme-builder/core/build-utils';
import { themeConfig } from '../src/theme/theme.config';

const outDir = process.env.THEME_OUT_DIR ?? process.argv[2];
if (!outDir) {
  throw new Error('build-theme: pass an output dir (THEME_OUT_DIR env or argv[2])');
}

await generateThemeArtifacts(themeConfig, {
  mode: 'hashed',
  outDir,
  defaultScheme: 'light',
});
